{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Boutique Ado. Boutique Ado, an online ecommerce store selling all you need from fashion to home!">
    <meta name="keywords" content="e-commerce, shopping, boutique ado, store, homewares, clothes, gifts">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Boutique Ado">
    <meta property="og:description" content="Boutique Ado. Boutique Ado, an online ecommerce store selling all you need from fashion to home!"> 
    <meta name="image" property="og:image" content="#">
    <meta property="og:image:alt" content="Boutique Ado ecommerce store shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://kera-cudmore-boutique-ado.herokuapp.com/">
    <meta property="og:site_name" content="Boutique Ado">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100">
            <div class="col col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font tect-black">The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}