{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Boutique Ado - Edit Product. Boutique Ado, an online ecommerce store selling all you need from fashion to home!">
    <meta name="keywords" content="e-commerce, shopping, boutique ado, store, homewares, clothes, gifts">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Boutique Ado - Edit Product">
    <meta property="og:description" content="Boutique Ado - Edit Product. Boutique Ado, an online ecommerce store selling all you need from fashion to home!"> 
    <meta name="image" property="og:image" content="#">
    <meta property="og:image:alt" content="Boutique Ado ecommerce store shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://kera-cudmore-boutique-ado.herokuapp.com/">
    <meta property="og:site_name" content="Boutique Ado - Edit Product">
{% endblock %}

{% block extra_title %}- Edit Product{% endblock %}

    {% block page_header %}
        <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    {% endblock %}

    {% block content %}

        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Product Management</h2>
                    <h5 class="text-muted">Edit a Product</h5>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                            <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    {% endblock %}

    {% block postloadjs %}
    {{ block.super}}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
    {% endblock %}